<!DOCTYPE html>
<html>
<head>
	<title>Add Travel Plan</title>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  	<script>
	  	$( function() {
	    	$( ".datepicker" ).datepicker();
	  	} );
  </script>
</head>
<body>
	<p><a href="{% url 'logout' %}">Logout</a> | <a href="{% url 'showtravel' %}">Home</a></p>
	<hr>
	<h1>Add a Trip</h1>
	<form action="{% url 'updatetravel' %}" method='post'>
	{% csrf_token %} 
		<p>Destination: <input type="text" name="destination"></p>
		<p>Description: <input type="text" name="description"></p>
		<p>Travel Date From:<input type="text" class="datepicker" name="date_from"></p>
		<p>Travel Date To:<input type="text" class="datepicker" name="date_to"></p>
		<input type="submit" value="Add">
	</form>
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}
</body>
</html>